<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kfoodbox.article.repository.CommunityArticleRepository">
    <select id="findCommunityArticleById" parameterType="long" resultType="kfoodbox.article.entity.CommunityArticle">
        SELECT *
        FROM `kfoodbox`.`community_article`
        WHERE `id` = #{id}
    </select>

    <insert id="saveCommunityArticle" parameterType="kfoodbox.article.entity.CommunityArticle" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO `kfoodbox`.`community_article` (`user_id`, `title`, `content`, `is_notice`)
        VALUES (#{communityArticle.userId}, #{communityArticle.title}, #{communityArticle.content}, #{communityArticle.isNotice})
    </insert>

    <insert id="saveCommunityArticleImages" parameterType="list">
        INSERT INTO `kfoodbox`.`community_article_image` (
            `community_article_id`,
            `url`
        )
        VALUES
        <foreach collection="communityArticleImages" item="item" separator=",">
            (
                #{item.communityArticleId},
                #{item.url}
            )
        </foreach>
    </insert>
</mapper>
